/*Style Certificado do Palestrante*/
body,td,th {
    font-family: Verdana;
    font-size: 11px;
    color: #000000;
}

h1{
	color:#666666;
	font:Verdana, Geneva, sans-serif;
	padding:0px;
	border: dotted 1px;
	font-size: 18px;
	text-align: center;
}

h3{
	color:#000000;
	font: 70px Comic Sans MS, cursive;
	padding:0px;
	font-size: 70px;
	text-align: center;
	font-style: italic;
	margin: 0px;
}

.certificado{
	color:#000000;
	font: 20px Verdana, Geneva, sans-serif;
	padding:0px; 
	font-size: 20px;
	margin: 0px;
	text-align:justify;
}